<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke</td><td>TestCase002_MakeDeposite.makeNewDeposite()[pri:3, instance:test_cases.TestCase002_MakeDeposite@127d7908]<br/>TestBase.startApplication()[pri:1, instance:test_cases.TestCase001_CustomerLogin@5f5b5ca4]<br/>TestBase.startApplication()[pri:1, instance:test_cases.TestCase004_CheckTransactionType@6622a690]<br/>TestBase.startApplication()[pri:1, instance:test_cases.TestCase002_MakeDeposite@127d7908]<br/>TestBase.startApplication()[pri:1, instance:test_cases.TestCase003_MakeWithdraw@6b9c69a9]<br/>TestCase001_CustomerLogin.customerLogin()[pri:2, instance:test_cases.TestCase001_CustomerLogin@5f5b5ca4]<br/>TestCase004_CheckTransactionType.checkTransactionType()[pri:5, instance:test_cases.TestCase004_CheckTransactionType@6622a690]<br/>TestCase003_MakeWithdraw.makeNewWithdraw()[pri:4, instance:test_cases.TestCase003_MakeWithdraw@6b9c69a9]<br/></td></tr>
</table>
