<h2>Methods that were not run</h2><table>
<tr><td>test_cases.TestBase.tearDown</td></tr>
<tr><td>test_cases.TestBase.tearDown</td></tr>
<tr><td>test_cases.TestBase.tearDown</td></tr>
<tr><td>test_cases.TestBase.setupDriver</td></tr>
<tr><td>test_cases.TestBase.setupDriver</td></tr>
<tr><td>test_cases.TestBase.setupDriver</td></tr>
</table>