<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test XYZ-Bank Web Application</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87ba81">  <td>23/02/13 01:22:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase004_CheckTransactionType.checkTransactionType()[pri:5, instance:test_cases.TestCase004_CheckTransactionType@6622a690]">checkTransactionType</td> 
  <td>TestNG-tests-1@35864696</td>   <td></td> </tr>
<tr bgcolor="aee9bc">  <td>23/02/13 01:22:20</td>   <td>-5868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase001_CustomerLogin.customerLogin()[pri:2, instance:test_cases.TestCase001_CustomerLogin@5f5b5ca4]">customerLogin</td> 
  <td>TestNG-tests-1@35864696</td>   <td></td> </tr>
<tr bgcolor="a360ea">  <td>23/02/13 01:22:22</td>   <td>-3881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase002_MakeDeposite.makeNewDeposite()[pri:3, instance:test_cases.TestCase002_MakeDeposite@127d7908]">makeNewDeposite</td> 
  <td>TestNG-tests-1@35864696</td>   <td></td> </tr>
<tr bgcolor="a8bb7d">  <td>23/02/13 01:22:23</td>   <td>-2771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase003_MakeWithdraw.makeNewWithdraw()[pri:4, instance:test_cases.TestCase003_MakeWithdraw@6b9c69a9]">makeNewWithdraw</td> 
  <td>TestNG-tests-1@35864696</td>   <td></td> </tr>
<tr bgcolor="dc9188">  <td>23/02/13 01:22:04</td>   <td>-21567</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setupDriver(java.lang.String)[pri:0, instance:test_cases.TestCase001_CustomerLogin@5f5b5ca4]">&gt;&gt;setupDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@35864696</td>   <td></td> </tr>
<tr bgcolor="dc9188">  <td>23/02/13 01:22:14</td>   <td>-11354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.startApplication()[pri:1, instance:test_cases.TestCase001_CustomerLogin@5f5b5ca4]">startApplication</td> 
  <td>TestNG-tests-1@35864696</td>   <td></td> </tr>
<tr bgcolor="dc9188">  <td>23/02/13 01:22:16</td>   <td>-9202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.startApplication()[pri:1, instance:test_cases.TestCase002_MakeDeposite@127d7908]">startApplication</td> 
  <td>TestNG-tests-1@35864696</td>   <td></td> </tr>
<tr bgcolor="dc9188">  <td>23/02/13 01:22:18</td>   <td>-7203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.startApplication()[pri:1, instance:test_cases.TestCase003_MakeWithdraw@6b9c69a9]">startApplication</td> 
  <td>TestNG-tests-1@35864696</td>   <td></td> </tr>
<tr bgcolor="dc9188">  <td>23/02/13 01:22:19</td>   <td>-6532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.startApplication()[pri:1, instance:test_cases.TestCase004_CheckTransactionType@6622a690]">startApplication</td> 
  <td>TestNG-tests-1@35864696</td>   <td></td> </tr>
<tr bgcolor="dc9188">  <td>23/02/13 01:22:30</td>   <td>4495</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:test_cases.TestCase001_CustomerLogin@5f5b5ca4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@35864696</td>   <td></td> </tr>
</table>
